/vendor/
/node_modules/
composer.phar
composer.lock

/.phpunit.cache/
/.php-cs-fixer.cache
/.pest/

/coverage/

/.idea/
/.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

phpstan.neon
phpunit.xml

/build/
