includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - generator/src
    level: max
    checkMissingCallableSignature: true
    reportUnmatchedIgnoredErrors: true
    additionalConstructors:
        - Axyr\Productive\Data\Model::hydrate
